body {
    // the body has a margin by default, remove it
    margin: 0;
}

#panel_column {
    display: flex;
    max-width: 20rem;
    padding: 4px;
    position: absolute;
    // this column is only for placement, it should not be clickable
    pointer-events: none;
    flex-direction: column;
    font-size: larger;
    color: white;
}

#panel_column>* {
    margin: 4px;
    // children of the panel column should be clickable again
    pointer-events: auto;
    background-color: darkgreen;
    padding: 8px;
}

details details {
    padding-top: 8px;
}

#option_panel {
    flex-wrap: wrap;
}

.field {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

input[updated=false] {
    background-color: aqua;
}

#map {
    // this is necessary because it is not really placed inside the parent
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

#page {
    z-index: -2;
}

[hidden] {
    display: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

input,
select,
textarea,
button,
pre {
    font-size: inherit;
    text-wrap: wrap;
}

input[type=checkbox] {
    width: 1em;
    height: 1em;
}